* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  max-width: 90rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Public Sans', sans-serif;
}

h1, h2, h3 {
  color: #2d314d;
}

p {
  color: #9698a6;
  font-size: .9em;
  line-height: 1.5;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.button {
  white-space: nowrap;
  border: none;
  padding: .8em 2em;
  font-size: .9rem;
  color: #f3f4f6;
  background-image: -webkit-gradient(linear, right top, left top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to left, #31d35c, #2bb7da);
  border-radius: 20px;
  cursor: pointer;
}

.button:hover {
  opacity: .8;
}

header {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

header .container {
  padding: .8em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 64em) {
  header .container {
    padding: .1em 0;
  }
}

@media screen and (min-width: 78.75em) {
  header .container {
    padding: .5em 0;
  }
}

header .container nav {
  width: 85%;
  position: absolute;
  top: 8vh;
  list-style: none;
  line-height: 2.5;
  text-align: center;
  border-radius: .5em;
  background-color: white;
  -webkit-box-shadow: 0 30px 50px 50px #00000080;
          box-shadow: 0 30px 50px 50px #00000080;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

@media screen and (min-width: 64em) {
  header .container nav {
    position: relative;
    top: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

header .container nav ul {
  list-style: none;
}

@media screen and (min-width: 64em) {
  header .container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header .container nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  color: #2d314d;
}

@media screen and (min-width: 64em) {
  header .container nav ul li a {
    color: #9698a6;
    margin: 0 1em;
    font-size: .8rem;
  }
}

@media screen and (min-width: 78.75em) {
  header .container nav ul li a {
    font-size: 1rem;
  }
}

header .container nav ul li a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #31d35c;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

header .container nav ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

header .container nav ul li a:hover {
  color: #2d314d;
}

@media screen and (min-width: 78.75em) {
  header .container nav ul .invite-btn {
    font-size: .9rem;
  }
}

header .container nav ul a.active {
  color: #2d314d;
}

header .container .active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: top;
          transform-origin: top;
}

header .container .invite-btn {
  display: none;
}

@media screen and (min-width: 64em) {
  header .container .invite-btn {
    display: block;
  }
}

header .container .hamburger {
  cursor: pointer;
}

@media screen and (min-width: 64em) {
  header .container .hamburger {
    display: none;
  }
}

main {
  text-align: center;
}

@media screen and (min-width: 64em) {
  main section#hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main section#hero .mockup {
  position: relative;
  background: url(/images/bg-intro-mobile.svg) no-repeat center center;
  background-size: cover;
  width: 100%;
  min-height: 20rem;
}

@media screen and (min-width: 64em) {
  main section#hero .mockup {
    min-height: 30rem;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background: none;
  }
  main section#hero .mockup::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 150%;
    background: url(/images/bg-intro-desktop.svg) no-repeat -3.125rem -10rem;
    background-size: cover;
    z-index: -1;
  }
}

main section#hero .mockup::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/images/image-mockups.png) no-repeat center bottom;
  background-size: 95%;
}

@media screen and (min-width: 45em) {
  main section#hero .mockup::after {
    background-size: 45%;
  }
}

@media screen and (min-width: 64em) {
  main section#hero .mockup::after {
    height: 120%;
    background-size: 95%;
    background-position: 5rem -1.5rem;
  }
}

@media screen and (min-width: 78.75em) {
  main section#hero .mockup::after {
    height: 130%;
    background-size: 90%;
    background-position: 10.3rem -3.8rem;
  }
}

@media screen and (min-width: 64em) {
  main section#hero .container {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    text-align: left;
    padding: 4em;
  }
}

@media screen and (min-width: 78.75em) {
  main section#hero .container {
    padding: 6em;
  }
}

main section#hero .container .intro {
  margin: 2em 0;
}

main section#hero .container .intro h1 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

@media screen and (min-width: 78.75em) {
  main section#hero .container .intro h1 {
    font-size: 3rem;
  }
}

main section#hero .container .intro p {
  margin: 1.5em 0;
}

@media screen and (min-width: 64em) {
  main section#hero .container .intro p {
    font-size: 1rem;
  }
}

main section#features {
  background-color: #f3f4f6;
  padding: 3em 0;
}

@media screen and (min-width: 64em) {
  main section#features {
    text-align: left;
  }
}

main section#features .heading h2 {
  font-size: 1.8rem;
  font-weight: 700;
  font-weight: lighter;
  color: #2d314d;
}

@media screen and (min-width: 78.75em) {
  main section#features .heading h2 {
    font-size: 2.3rem;
  }
}

main section#features .heading p {
  color: #9698a6;
  line-height: 1.5;
  margin: 1em 0;
  font-size: .9em;
}

@media screen and (min-width: 64em) {
  main section#features .heading p {
    width: 60%;
    font-size: 1rem;
  }
}

main section#features .feature-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .8em;
  margin: 2rem 0;
}

main section#features .feature-cards .card h3 {
  font-size: 1.3rem;
  font-weight: 400;
  color: #2d314d;
  margin: 1em 0;
}

main section#features .feature-cards .card p {
  color: #9698a6;
  line-height: 1.5;
  font-size: .8em;
}

@media screen and (min-width: 64em) {
  main section#features .feature-cards .card p {
    font-size: 1rem;
  }
}

main section#articles {
  padding: 3em 0;
  text-align: left;
}

main section#articles h2 {
  font-size: 2em;
  font-weight: 700;
  font-weight: lighter;
  color: #2d314d;
}

@media screen and (min-width: 78.75em) {
  main section#articles h2 {
    font-size: 2.3rem;
  }
}

main section#articles .articles-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .8em;
  padding: 2em 0;
}

main section#articles .articles-container article img {
  width: 100%;
  height: 200px;
}

main section#articles .articles-container article .desc {
  margin-top: 1.5em;
  cursor: pointer;
}

main section#articles .articles-container article .desc .author {
  font-size: .6em;
  color: #9698a6;
  margin-bottom: .8em;
}

@media screen and (min-width: 64em) {
  main section#articles .articles-container article .desc .author {
    font-size: .9rem;
  }
}

main section#articles .articles-container article .desc a.title {
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  color: #2d314d;
}

@media screen and (min-width: 64em) {
  main section#articles .articles-container article .desc a.title {
    font-size: 1.5rem;
  }
}

main section#articles .articles-container article .desc .title:hover {
  color: #31d35c;
}

main section#articles .articles-container article .desc .text {
  margin-top: .8em;
  font-size: .8em;
  font-weight: 300;
  line-height: 1.5;
  color: #9698a6;
}

@media screen and (min-width: 64em) {
  main section#articles .articles-container article .desc .text {
    font-size: 1rem;
  }
}

footer {
  background-color: #2d314d;
  padding: .5em 0;
  text-align: center;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 3;
}

@media screen and (min-width: 45em) {
  footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

footer .container .social-links .links a {
  margin: 0 .2em;
}

footer .container .more-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 45em) {
  footer .container .more-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    gap: 2em;
  }
}

@media screen and (min-width: 45em) {
  footer .container .more-links {
    gap: 5em;
  }
}

footer .container .more-links ul {
  list-style: none;
}

footer .container .more-links ul a {
  text-decoration: none;
}

footer .container .more-links ul a li {
  color: #9698a6;
  font-size: .8rem;
}

@media screen and (min-width: 64em) {
  footer .container .more-links ul a li {
    font-size: .9rem;
  }
}

footer .container .more-links ul a li:hover {
  color: #31d35c;
}

@media screen and (min-width: 45em) {
  footer .container .copyright {
    text-align: right;
  }
  footer .container .copyright .cta {
    font-size: .8rem;
    margin: 2em 0;
  }
}

footer .container .copyright p {
  color: #9698a6;
  font-size: .8rem;
}
/*# sourceMappingURL=main.css.map */