* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$colors: (
    // primary colors
Dark-Blue: hsl(233, 26%, 24%),
Lime-Green: hsl(136, 65%, 51%),
Bright-Cyan: hsl(192, 70%, 51%),
// Neutral colors
Grayish-Blue: hsl(233, 8%, 62%),
Light-Grayish-Blue: hsl(220, 16%, 96%),
Very-Light-Gray: hsl(0, 0%, 98%),
White-clr: hsl(0, 0%, 100%),
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

$points: (
    medium: 45em,
    large: 64em,
    x-large: 78.75em
);

@mixin breakPoints($point) {
    @media screen and (min-width: map-get($points, $point)) {
        @content;
    }
}



body, html {
    max-width: 90rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Public Sans', sans-serif;
}

h1,h2,h3 {
    color: color(Dark-Blue);
}

p {
    color: color(Grayish-Blue);
    font-size: .9em;
    line-height: 1.5;

}

.container {
    width: 85%;
    margin: 0 auto;
}

.button {
    white-space: nowrap;
    border: none;
    padding: .8em 2em;
    font-size: .9rem;
    color: color(Light-Grayish-Blue);
    background-image: linear-gradient(to left, color(Lime-Green), color(Bright-Cyan));
    border-radius: 20px;
    cursor: pointer;
}

.button:hover {
    opacity: .8;
}

header {
    background-color:color(White-clr);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    
    .container{
        padding: .8em 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakPoints(large) {
            padding: .1em 0;
        }
        @include breakPoints(x-large) {
            padding: .5em 0;
        }

        nav {
            width: 85%;
            position: absolute;
            top: 8vh;
            list-style: none;
            line-height: 2.5;
            text-align: center;
            border-radius: .5em;
            background-color: color(White-clr);
            box-shadow: 0 30px 50px 50px #00000080;
            transform: scale(0);
            transform-origin: top;
            transition: transform 500ms ease-in-out;

            @include breakPoints(large) {
                position: relative;
                top: 0;
                transform: scale(1);
                box-shadow: none;
            }

            ul {
                list-style: none;

                @include breakPoints(large) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                li a {
                text-decoration: none;
                font-size: 1rem;
                font-weight: 700;
                position: relative;
                color: color(Dark-Blue);

                @include breakPoints(large) {
                    color: color(Grayish-Blue);
                    margin: 0 1em;
                    font-size: .8rem;
                    font-weight: 300;
                }

                @include breakPoints(x-large) {
                    font-size: 1rem;
                }
                }

                li a::after {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background-color: color(Lime-Green);
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: all 300ms ease-in;
                }

                li a:hover::after {
                    transform: scaleX(1);
                    transform-origin: left;
                }

                li a:hover {
                    color: color(Dark-Blue);
                }

                .invite-btn {
                    @include breakPoints(x-large) {
                        font-size: .9rem;
                    }
                }

                a.active{
                    color: color(Dark-Blue);
                }
            }
        }

        .active {
            transform: scale(1);
            transform-origin: top;
        }

        .invite-btn {
            display: none;

            @include breakPoints(large) {
                display: block;
            }
        }
        .hamburger {
            cursor: pointer;

            @include breakPoints(large) {
                display: none;
            }
        }
    }
}

main {
    text-align: center;
    section#hero {
        @include breakPoints(large) {
            display: flex;
            align-items: center;
        }
        .mockup {
            position: relative;
            background: url(/images/bg-intro-mobile.svg) no-repeat center center;
            background-size: cover;
            width: 100%;
            min-height: 20rem;

            @include breakPoints(large) {
                min-height: 35rem;
                flex: 3;
                order: 1;   
                background: none;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 150%;
                    background: url(/images/bg-intro-desktop.svg) no-repeat -3.125rem -10rem;
                    background-size: cover;
                    z-index: -1;
                }
            }

            
            
            &::after {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(/images/image-mockups.png) no-repeat center bottom;
                background-size: 95%;

                @include breakPoints(medium) {
                    background-size: 45%;
                }

                @include breakPoints(large) {
                    border: 1px solid red;
                    height: 120%;
                    background-size: 105%;
                    background-position: 4.5rem -3rem;
                }
                @include breakPoints(x-large) {
                    height: 130%;
                    background-size: 95%;
                    background-position: 8.5rem -3rem;
                }
            }
        }

        .container {
            @include breakPoints(large) {
                flex: 2;
                text-align: left;
                padding: 4em;
            }

            @include breakPoints(x-large) {
                padding: 8em 6em;
            }
            .intro {
                margin: 2em 0;

                h1 {
                    font-size: 2rem;
                    font-weight: 300;
                    line-height: 1.2;

                    @include breakPoints(x-large) {
                        font-size: 3rem;
                    }
                }

                p {
                    margin: 1.5em 0;

                    @include breakPoints(large) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    
    section#features {
        background-color: color(Light-Grayish-Blue);
        padding: 3em 0;

        @include breakPoints(large) {
            text-align: left;
        }

        @include breakPoints(x-large) {
            padding: 6em 0;
        }
        .heading {
            h2 {
                font-size: 1.8rem;
                font-weight: 700;
                font-weight: lighter;
                color: color(Dark-Blue);

                @include breakPoints(x-large) {
                    font-size: 2.3rem;
                }
            }

            p {
                color: color(Grayish-Blue);
                line-height: 1.5;
                margin: 1em 0;
                font-size: .9em;


                @include breakPoints(large) {
                    width: 60%;
                    font-size: 1rem;
                }
            }   
        }

        .feature-cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            justify-content: center;
            gap: .8em;
            margin: 2rem 0;

            .card {
                h3 {
                    font-size: 1.3rem;
                    font-weight: 400;
                    color: color(Dark-Blue);
                    margin: 1em 0;

                }

                p {
                    color: color(Grayish-Blue);
                    line-height: 1.5;
                    font-size: .8em;

                    @include breakPoints(large) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    section#articles {
        padding: 3em 0;
        text-align: left;
        @include breakPoints(x-large) {
            padding: 6em 0;
        }
        h2 {
            font-size: 2em;
            font-weight: 700;
            font-weight: lighter;
            color: color(Dark-Blue);

            @include breakPoints(x-large) {
                font-size: 2.3rem;
            }
        }

        .articles-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            justify-content: center;
            gap: .8em;
            padding: 2em 0;

            article {

                img {
                    width: 100%;
                    height: 200px;
                }

                .desc {
                    margin-top: 1.5em;
                    cursor: pointer;
                

                    .author {
                        font-size: .6em;
                        color: color(Grayish-Blue);
                        margin-bottom: .8em;

                        @include breakPoints(large) {
                        font-size: .9rem;
                    }
                    }

                    a.title {
                        text-decoration: none;
                        font-size: 1em;
                        font-weight: 400;
                        color: color(Dark-Blue);

                        @include breakPoints(large) {
                            font-size: 1.5rem;
                        }
                    }

                    .title:hover {
                        color: color(Lime-Green);
                    }
 
                    .text {
                        margin-top: .8em;
                        font-size: .8em;
                        font-weight: 300;
                        line-height: 1.5;
                        color: color(Grayish-Blue);

                        @include breakPoints(large) {
                            font-size: 1rem;
                        }
                    }

                }
            }

        }
    }
}

footer {
    background-color: color(Dark-Blue);
    padding: .5em 0;
    text-align: center;
    @include breakPoints(x-large) {
        padding: 2em 0;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        line-height: 3;

        @include breakPoints(medium) {
            flex-direction: row;
        }

        .social-links {

            .links a{
                margin: 0 .2em;
            }
        }

        .more-links {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;

            @include breakPoints(medium) {
                flex-direction: row;
                text-align: left;
                gap: 2em;
            }

            @include breakPoints(medium) {
                gap: 5em;
            }

            ul {
                list-style: none;

                a {
                    text-decoration: none;

                    li {
                        color: color(Grayish-Blue);
                        font-size: .8rem;

                        @include breakPoints(large) {
                            font-size: .9rem;
                        }
                    }

                    li:hover {
                        color: color(Lime-Green);
                    }
                }

            }
        }

        .copyright {
            
            @include breakPoints(medium) {
                text-align: right;
                .cta {
                    font-size: .8rem;
                    margin: 2em 0;
                }
            }

            p{
                color: color(Grayish-Blue);
                font-size: .8rem;
            }
        }
    }
}